.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.login {
  width: 300px; 
  align-items: center;
  height: 100vh;
  width:60vh;
  display: flex;
  justify-content: center;
  
}

.logo{
  height: 40px;
  width: 100%; /* Adjust the width as needed */
  max-width: 150px; /* Ensures the logo doesn't get too large */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.bg-image {
  background-image: url('https://i.pinimg.com/564x/be/19/50/be1950356c5de7b24020c9c388af7e10.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover; /* Cover the entire element with the background image */
  background-position: center; /* Center the background image */
  height: 100vh;
}
.custom-search-input {
  height: 50px; /* Adjust the width as needed */
}
body {
  background-image: url('https://i.pinimg.com/564x/6f/4c/5c/6f4c5c27ba30aaad59f2fb4d99928ab7.jpg');
  background-size: cover;
  background-position: center;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100vh;
}

.button-container {
  display: flex;
  gap: 130px; /* Adjust the value as needed */
}

.text-center {
  text-align: center;
  vertical-align: middle;
}


.carousel-item {
  height: 650px; /* Adjust height as needed */
}

.carousel-item img {
  object-fit: cover; /* Optional: Maintain aspect ratio and crop if needed */
}





